@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 7px;
  padding-top: 10rem;
}

::-webkit-scrollbar-track {
  background: #bebebe;
}

::-webkit-scrollbar-thumb {
  background: #717171;
  border-radius: 8px;
}

.calcHeight {
  height: calc(100vh - 201px);
}